{{#tabs-component as |tabs|}}
  {{tabs.menu}}
  {{#tabs.tab 'Picture'}}
    <h5 class="title">Content for Pictures Here</h5>
  {{/tabs.tab}}
  {{#tabs.tab 'Music'}}
    <h5 class="title">Content for Music Here</h5>
  {{/tabs.tab}}
  {{#tabs.tab 'Videos'}}
    <h5 class="title">Content for Videos Here</h5>
  {{/tabs.tab}}
{{/tabs-component}}
