{{!-- This is contained inside a modal window wrapper --}}
{{#steps-component as |steps|}}
  {{#steps.step 'First Step'}}
    <p>
      Content for first step.
    </p>
    <p>
      {{steps.goToStep stepName='Second Step'}}
    </p>
  {{/steps.step}}
  {{#steps.step 'Second Step'}}
    <p>
      Content for second step.
    </p>
    <p>
      {{steps.goToStep stepName='Third Step'}}
    </p>
  {{/steps.step}}
  {{#steps.step 'Third Step'}}
    <p>
      Content for third step.
    </p>
    <p>
      {{steps.goToStep
        stepName='First Step'
        label="Back to the beginning"
      }}
    </p>
  {{/steps.step}}
{{/steps-component}}
